<h1> Twitter API</h1>

<form id="handle" action="/user" method="post">
<input id="username" type="text" name="username" placeholder="User search" >
<input id="submit" type="submit" value="submit">
</form>
<br>
<br>
<br>
<form action="/tweet" method="post">
<textarea placeholder="Write a tweet  " name="tweet"></textarea>
<br>
<input type="submit" value="submit">
</form>


<div id="tweets">
  <%= erb :show_tweets, layout: false %>
</div>
<div id="spinner">
  <center>
  <img id="spinner" src="spinner.gif" alt="Loading..."/>
</center>
</div>

  <% if @message %>
  <%= @message %>
<% end %>
